body {
    font-family: Arial, sans-serif;
    background-color: #858383;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Make the body take the full height of the viewport */
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center-align text */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li { margin-bottom: 10px; }

a {
    color: #007bff;
    text-decoration: none;
}

a:hover { text-decoration: underline; }

hr {
    border: none;
    border-top: 3px solid #0f0808; /* Customize separator color and style */
    margin: 20px 10px; /* Adjust the margin for spacing */
}

p { 
    color: #027c00;
    font-size: 20px; 
}